<H3>Courses</H3>
<form>
    level:<input type="text" name="level"/>
    course:<input type="text" name="course"/>
    code:<input type="text" name="code"/>
    phone:<input type="tel" name="tel"/>
    year:<input type="date" name="year"/>
<form><input type="checkbox" name="session" value="normale">Normale<br/></form>
    
    <input type="checkbox" name="session" value="rattrapage">Rattrapage<br/>
    <input type="checkbox" name="semester" value="semester 1">Sem1<br/>
    <input type="checkbox" name="session" value="semester 2"> Sem2<br/>
    <input type="Submit" value="Submit"/>
</form>
