<!DOCTYPE html>
<html>  
    <p>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span> ENSTP SYSGEREQ</span>
          <span class="example-spacer"></span>
          <button mat-raised-button color="warn" (click)="openDialog()">Response</button>
          <button mat-raised-button color="warn" (click)="openrequestDialog()">Add Requests</button>
          <button mat-raised-button color="warn" (click)="openstudentDialog()">Add Student</button>
          <button mat-raised-button color="accent" (click)="opencourseDialog()">Add Course</button>
        </mat-toolbar>
      </p>
    <h1>Welcome, Enter Student Requests With SYSGEREQ</h1>

</html>