<!DOCTYPE html>
<html>  
    <p>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>My App</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
      </p>
    <h1>Welcome, Fill in your Requests</h1>
    <div style="color: rgb(1, 1, 19);">
        <app-students></app-students>
       </div>
 <div style="font-size: larger;">
    <app-requests></app-requests>  
 </div>
  
 <div style="color: blue;">
  <app-courses></app-courses>
 </div>
</html>